#map {
  width: 50%;
  height: 50%;
  position: absolute;
}
#attack-button {
  height: 4em;
  width: 6em;
  background-image: linear-gradient(270deg, #a00015, #400012, #002d40, #0073a0);
  border: none;
  box-shadow: -5px 7px rgba(0, 0, 0, .4);
}




/*#a32828 red p1
#a38c28 gold p2
#28a337 green p3
#2898a3 cyan p4
#2857a3 blue p5
#8428a0 pink p6
*/








.attack-padding {
  padding-top: 68px;
  padding-bottom: 69px;
}

.clickable-space {
  height: 200px;
}

.form-container{

}

.country-div {
  display: inline-block;
  height: 100px;
  width: 240px;
  border: solid;
  padding: 10px;
}

.marker-div {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: -2px 2px rgba(255, 255, 255, .4);
}

option:hover {
  color: white;
  background-color: cornflowerblue;
}

.target-holder {
  margin-left: 100px;
  text-align: center;
}

.map-container {
  text-align: center;
  width: 1280px;
  z-index: -1;
}

img {
  border: solid black 10px;
  border-radius: 2em;
}

.defender-heading {
  color: white;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  background-color: #3dcc3d;

}
.attacker-heading {
  color: white;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  background-color: #cc843d;

}
.troop-strength {
  padding-left: 14px;
}
.defender-battle-panel {
  padding: 1em;
  background-image: linear-gradient(#a00015, #400012);
  border-radius: 1em;
  margin: 2px;
  box-shadow: -5px 7px rgba(0, 0, 0, .4);
}
.attacker-battle-panel {
  padding: 1em;
  background-image: linear-gradient(#0073a0, #002d40);
  border-radius: 1em;
  margin: 2px;
  box-shadow: -5px 7px rgba(0, 0, 0, .4);
}
.panel-heading {
  margin-bottom: 1em;
}
body {
  background-image: radial-gradient(#c4cbff , #161c4f);
  background-repeat: no-repeat;

  height: 100%;
  width: 100%;

}

#attacker-dice, #defender-dice {
  color: black;
}
.attack-box-bg {
  background-color: #3daacc;
  color: white;
}
.defend-box-bg {
  background-color: #cc3d3d;
  color: white;
}
/*#conquer-menu {
  position: absolute;
  top: 870px;
  left: 910px;
  z-index: 2;
}*/

#combat-form {
  position: absolute;
  top: 650px;
  left: 535px;
  width: 750px;
  z-index: 3;

}
