#map {
  width: 50%;
  height: 50%;
}

.clickable-space {
  border: solid;
  height: 200px;
}

.country-div {
  display: inline-block;
  height: 100px;
  width: 240px;
  border: solid;
  padding: 10px;
}
